node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
uploads/
static/uploads/
db-tools/

# Временные скрипты для настройки
setup-tenant-1-login.js
setup-tenant-1-quick.js
git-helper.ps1
db-explorer.js
db-edit.js
migrations/001-add-multitenancy.sql
.gitignore
migrations/002-add-tenant-password.sql
db-test.js
